/*body { font-family: Roboto }

ul { padding: 0; margin: 0; list-style-type: none; }


.simple-list {
  margin: 0 0 0 10px;
}

.simple-list-item {
  height: 48px;
  margin: 14px 0;

  a {
    display:block;
    color: black;
  }
}

.list-item-icon.item-rounded {
  width: 38px;
  height: 38px;
  
  font-size: 22px;
  text-align: center;

  display: inline-block;
  padding: 3px 0 0;
  margin: 3px 14px 3px 14px;
  vertical-align: middle;

  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  border-radius: 50%;
}

.list-item-label {
  font-size: 17px; 
}
*/